.hide {
    display: none;
}

body{
background: linear-gradient(blue,white,);
background-repeat: no-repeat ;
height: auto;
max-width: ;
display: flex;
align-items: center;
justify-content: center;

}


